@import 'tailwindcss';

@import 'tw-animate-css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Poppins', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #ff6347;
    --primary-foreground: oklab(69.62% 0.16524 0.10448 / 0.729);
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #e7000b;
    --destructive-foreground: #e7000b;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #d4d4d4;
    --chart-1: #f54900;
    --chart-2: #009689;
    --chart-3: #104e64;
    --chart-4: #ffb900;
    --chart-5: #fe9a00;
    --radius: 0.625rem;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #d4d4d4;
}

.dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #25375b;
    --primary-foreground: #1b2539;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #82181a;
    --destructive-foreground: #fb2c36;
    --border: #262626;
    --input: #262626;
    --ring: #525252;
    --chart-1: #1447e6;
    --chart-2: #00bc7d;
    --chart-3: #fe9a00;
    --chart-4: #ad46ff;
    --chart-5: #ff2056;
    --sidebar: #171717;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #fafafa;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #262626;
    --sidebar-ring: #525252;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

::view-transition-group(root) {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
    animation: none;
}

::view-transition-new(root) {
    animation: theme-wipe-left-to-right 1s ease-in-out;
}

@keyframes theme-wipe-left-to-right {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@media (prefers-reduced-motion: reduce) {
    ::view-transition-group(root),
    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none !important;
    }
}

section{
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Word Change Animation Css */
.change-word-wrapper {
    position: relative;
    display: block;
    height: 65px;
}

@media screen and (max-width: 560px) {
    .change-word-wrapper {
        height: 30px;
    }
}

.change-word {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.letter.out {
    transform: translateY(-40%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.letter.in {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.letter.behind {
    transform: translateY(40%);
    opacity: 0;
}

/* Button Styles */
.btn{
    background-color: var(--color-primary);
    color: #fafafa;
    font-weight: 900;
    letter-spacing: 1.2px;
}

/*Text Styles */
.text-primary{
    color: var(--color-primary);
}

/*Background Styles */
.bg-primary{
    background-color: var(--color-primary);
}
.hover\:bg-primary:hover{
    background-color: var(--color-primary);
}

/* Start Work Process */
.process-box {
    background: var(--color-background);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 7px 0 #00000057;
}

@media screen and (min-width: 991px) {
    .process-left:after {
        content: "";
        border-top: 15px solid var(--color-background);
        border-bottom: 15px solid var(--color-background);
        border-left: 15px solid var(--color-background);
        border-right: 15px solid var(--color-background);
        display: inline-grid;
        position: absolute;
        right: -15px;
        top: 42%;
        transform: rotate(45deg);
        box-shadow: 3px -2px 3px 0px #00000036;
        z-index: 1;
    }
    
    .process-right:after {
        content: "";
        border-top: 15px solid #ffffff00;
        border-bottom: 15px solid var(--color-background);
        border-left: 15px solid var(--color-background);
        border-right: 15px solid #ffffff00;
        display: inline-grid;
        position: absolute;
        left: -15px;
        top: 42%;
        transform: rotate(45deg);
        box-shadow: -1px 1px 3px 0px #0000001a;
        z-index: 1;
    }    
}

.process-step {
    background: var(--color-primary);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -26px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 0px 0px #00000014;
}

.process-point-right {
    background: var(--color-background);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid var(--color-primary);
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    top: 44%;
    left: -15%;
}

.process-point-right:before {
    content: "";
    height: 155px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(34deg);
    position: relative;
    left: -50px;
    top: 0;
    z-index: -1;
}

.process-point-left {
    background: var(--color-background);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid var(--color-primary);
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    top: 44%;
    right: -85px;
}

.process-point-left:before {
    content: "";
    height: 155px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(-34deg);
    position: relative;
    left: 50px;
    top: 0;
    z-index: -1;
}

.process-last:before {
    display: none;
}

.process-box p {
    z-index: 9;
}

.process-step p {
    font-size: 20px;
}

.process-step h2 {
    font-size: 39px;
}

.process-step:after {
    content: "";
    border-top: 8px solid #04889800;
    border-bottom: 8px solid var(--color-primary-foreground);
    border-left: 8px solid #04889800;
    border-right: 8px solid var(--color-primary-foreground);
    display: inline-grid;
    position: absolute;
    left: -16px;
    top: 0;
}

.process-step:before {
    content: "";
    border-top: 8px solid #ff000000;
    border-bottom: 8px solid var(--color-primary-foreground);
    border-left: 8px solid var(--color-primary-foreground);
    border-right: 8px solid #ff000000;
    display: inline-grid;
    position: absolute;
    right: -16px;
    top: 0;
}

@media screen and (min-width:1024px) {    
    .process-point-right:before {
        height: 185px;
        left: -60px;
    }
    
    .process-point-left {
        right: -50px;
    }
    
    .process-point-left:before {
        height: 185px;
        left: 60px;    
    }
}

@media screen and (min-width:1024px) {
    .process-point-right {
        left: -7%;
    }
}

@media screen and (min-width:1068px) {
    .process-point-right {
        left: -11%;
    }
}

@media screen and (min-width:1151px) {
    .process-point-right {
        left: -13%;
    }
}

@media screen and (min-width:1211px) {
    .process-point-right {
        left: -15%;
    }

    .process-point-right:before {
        height: 180px;
        left: -55px;
    }
    
    .process-point-left {
        right: -55px;
    }
    
    .process-point-left:before {
        height: 180px;
        left: 55px;    
    }
}

@media screen and (min-width:1280px) {
    .process-point-right {
        left: -5%;
    }
    
    .process-point-right:before {
        height: 185px;
        left: -60px;
    }
    
    .process-point-left {
        right: -58px;
    }
    
    .process-point-left:before {
        height: 185px;
        left: 60px;
    }
}

@media screen and (min-width:1335px) {
    .process-point-right {
        left: -8%;
    }
    
    .process-point-left {
        right: -55px;
    }
}

@media screen and (min-width:1375px) {
    .process-point-right {
        left: -9%;
    }
    
    .process-point-left {
        right: -55px;
    }
}

@media screen and (min-width:1438px) {
    .process-point-right {
        left: -11%;
    }
    
    .process-point-left {
        right: -58px;
    }
}

@media screen and (min-width:1515px) {
    .process-point-right {
        left: -13%;
    }

    .process-point-right:before {
        height: 180px;
        left: -58px;
    }
    
    .process-point-left {
        right: -60px;
    }

    .process-point-left:before {
        height: 180px;
        left: 58px;
    }
}

@media screen and (min-width:1600px) {
    .process-point-right {
        left: -14%;
    }
}

@media screen and (min-width:1650px) {
    .process-point-right {
        left: -15%;
    }
}

@media screen and (min-width:1700px) {
    .process-point-right {
        left: -16%;
    }

    .process-point-left {
        right: -62px;
    }
}

@media screen and (min-width:1800px) {
    .process-point-right {
        left: -17%;
    }
}

@media screen and (min-width:1900px) {
    .process-point-right {
        left: -18%;
    }
}

@media screen and (min-width:1980px) {
    .process-point-right {
        left: -19%;
    }
}

@media screen and (min-width:2080px) {
    .process-point-right {
        left: -20%;
    }
}

@media screen and (min-width:2151px) {
    .process-point-left {
        right: -63px;
    }
}
/* End Work Process */